
nav {
  background-color: oklch(0.527 0.154 150.069);
}

 @media (max-width:640px) {
   .govText{
    text-align: center;
   } 
   .profileName {
    display: block;
   }    
   .logOutBtn {
    display: inline-block;
    margin: auto;
  
   }
 }

 