/* Global Styles */
nav {
  background-color: #4b0082; /* Dark violet */
}

/* Mobile Menu Styles */
@media (max-width: 640px) {
  .govText {
    text-align: center;
  }
  .profileName {
    display: block;
  }
  .logOutBtn {
    display: inline-block;
    margin: auto;
  }
}

/* Hover Effects */
.hover\:bg-\[\#6a1b9a\]:hover {
  background-color: #6a1b9a; /* Lighter violet */
}

.hover\:bg-red-600:hover {
  background-color: #dc2626; /* Red for logout */
}

.hover\:bg-green-600:hover {
  background-color: #16a34a; /* Green for login */
}